/* Add some padding on document's body to prevent the content
   to go underneath the header and footer */

#navigation{
  min-width: 200px;
  background-color: none;
  display: flex;
  flex-direction: column;
}

#navigation a {
  text-decoration: none;
  margin-right: 1em; /*space for the triangle*/
}



.navbox{
  display: flex;
  justify-content: flex-end;
  background-color: #00000070;
  height: 2em;
  color: white;
  flex-grow: 1;
}

.navbox:hover {
  background-color: black;
}

.navbox img{
  width: 2em;
}

.navimg {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000070;
}

.navtxt {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  flex-grow: 1;
  font-family: "Marcellus SC", serif;
}
.navtri {
  height: 0;
  width: 0;
  background-color: none;
}

 .navimg .thisNav {
   width: 100%;
   height: 100%;
   background-color: #F03030; /*#024F27;*/
}
.navtxt .thisNav {
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
  width: 100%;
  height: 100%;
  background-color: #F03030; /*#024F27;*/
}
.navtri .thisNav {
  width: 100%;
  height: 100%;
  height: 2em;
  width: 1em;
  background-color: #F03030; /*#024F27;*/
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
 }
